# CIS 640 - Advanced Database Systems
## Text Mining Project - Team 4
### Amanda Long, Ahmed Ashraf Sadek, Zawaad Shah

Importing Libraries.

In [1]:
import pyodbc
import sqlalchemy as sal
from sqlalchemy import create_engine
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Creating the Database Driver Engine.

In [2]:
engine = sal.create_engine('mssql+pyodbc://DESKTOP-24EBAA8/EmployeeReview?driver=SQL Server?Trusted_Connection=yes')

Establishing the connection.

In [3]:
conn=engine.connect()

Verifying the connection is functional by pulling table names from our database.

In [4]:
print(engine.table_names())

['company_data', 'employee_data', 'employee_reviews', 'sysdiagrams']

Creating a list of column names for the table we want to do text analysis on: **`employee_reviews`**

In [5]:
q=engine.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'employee_reviews' ORDER BY ORDINAL_POSITION")
ls = []
for row in q:
    ls.append(row[0])
print(ls)

['review_id', 'comp_id', 'emp_id', 'pros', 'cons', 'overall_ratings', 'work_balance_stars', 'culture_values_stars', 'career_opportunities_stars', 'comp_benefit_stars', 'senior_management_stars']

Pulling the data from SQL Server into a Pandas Dataframe.

In [6]:
sql_query = pd.read_sql_query('SELECT * FROM EmployeeReview.dbo.employee_reviews', engine)
df = pd.DataFrame(sql_query, columns = ls)
df.head()

,review_id,comp_id,emp_id,pros,cons,overall_ratings,work_balance_stars,culture_values_stars,career_opportunities_stars,comp_benefit_stars,senior_management_stars
0,1,1,1,People are smart and friendly,Bureaucracy is slowing things down,5.0,4.0,5.0,5.0,4.0,5.0
1,2,1,2,"1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,4.0,2.0,3.0,3.0,5.0,3.0
2,3,1,3,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",5.0,5.0,4.0,5.0,5.0,4.0
3,4,1,4,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,5.0,2.0,5.0,5.0,4.0,5.0
4,5,1,5,Google is a world of its own. At every other c...,"If you don't work in MTV (HQ), you will be giv...",5.0,5.0,5.0,5.0,5.0,5.0

# Thank you :)